<h1>Preferences</h1>
<h2>Choose a sport</h2>

<h3>Running</h3>
<h3>Trails</h3>
<h3>Cycling</h3>
<h3>VTT</h3>
<h3>Snow Sports</h3>
<h3>Traking</h3>
<h3>Hiking</h3>

<h2>Choose a level</h2>
<h3>Novice</h3>
<h3>Intermediate</h3>
<h3>Expert</h3>

<h2>Choose a frequence (at best)</h2>

<h3>Once a week</h3>
<h3>Twice a week</h3>
<h3>Three times a week</h3>


<h1>Nutrition preferences</h1>

<h3>Vegetarian</h3>
<h3>Vegan</h3>
<h3>Gluten free</h3>
<h3>Low carb</h3>
<h3>Low fat</h3>
<h3>Low sugar</h3>
<h3>Lactose Free</h3>
<h3>Nothing to report</h3>

<h2>Lets see what's going on (btn)</h2>
